body {
    font-family:Arial, Helvetica, sans-serif
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "header header"
    "content sidebar-head"
    "content sidebar-list";
}

.grid-head {
    grid-area: header;
    background-color: #6495ed;
    
}

.grid-content {
    grid-area: content;
    background-color: #f5f5f5;
}

.checklist-head {
    grid-area: sidebar-head;
    background-color: #6495ed;
    text-align: center;
}

.checklist-list {
    grid-area: sidebar-list;
    background-color: #f5f5f5;
    text-align: left;
}

#banner-title {
    margin-left: 0.5em;
}

#checklist-head {
    text-align: center;
    background-color: #6495ed;
}
