

.grid-container {
    display: grid;
    grid-template-columns: 2.5fr .5fr;
    grid-auto-rows: auto;
    grid-column-gap: 2px;
    grid-template-areas: 
    "header header"
    "content sidebar-header"
    "content sidebar-content"
    "footer footer";
}

.grid-head {
    grid-area: header;
    background-color: #6495ed;
    border-bottom: 1px solid #000000;
    
}

.grid-content {
    grid-area: content;
    background-color: #f5f5f5;
}

.checklist-header {
    grid-area: sidebar-header;
    background-color: #6495ed;
    text-align: center;
    border-left: 1px solid #000000;
}

.checklist {
    grid-area: sidebar;
    background-color: #f5f5f5;
}
