body {
    font-family:Arial, Helvetica, sans-serif
}

ul {
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 50px auto 100px;
}

.grid-head {
    display: inline-flex;
    grid-column: 1 / -1;
    background-color: #30b678;
    margin: 0.5em;
    
}

.grid-content {
    background-color: #f5f5f5;
    grid-column: 1;
    grid-row: 3;
}

.checklist-head-left {
    background-color: #f5f5f5;
    grid-column: 1;
    grid-row: 2;
}

.checklist-head-right {
    background-color: #f5f5f5;
    text-align: right;
    grid-column: 2;
    grid-row: 2;
}

.checklist-list {
    background-color: #f3f3f3;
    text-align: justify;
    grid-row: 3;
    grid-column: 2;
}

#banner-title {
    margin-left: 1em;
    text-align: left;
}


#banner-about {

}

#banner-contact {

}

#banner-contact {

}

#checklist-head {
    text-align: center;
    background-color: #e1ad01;
}

#task-item {
}

#task-checkbox {

}

#task-done {

}